[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
platformio = "*"
ansible = "*"
watchdog = "*"
gitpython = "*"
scapy = "*"
ansible-vault = "*"
sh = "*"

[dev-packages]

[requires]
python_version = "3.8"
